.headerImg
{    
        display: block;
        margin-left: auto;
        margin-right: auto 
}

.header
{    
        display: block;
        margin-left: auto;
        margin-right: auto 
}

h4 
{
        text-align: center;
        font-weight: bold;
}